

html {
  box-sizing: border-box;
}
*,
*:before,*:after {
  box-sizing: inherit;
}
body {
  color: #e7e7e7;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: black;
}
img {
  width: 85%;
  /* height: 300px; */
}

a {
  color: #ffe660;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 67px;  
  line-height: 1; 
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  @font-face {
    font-family: "MyWebFont";
    src: url("WebFont.eot");
    src: url("WebFont.eot?iefix") format("eot"),
        url("WebFont.woff") format("woff"), url("WebFont.ttf") format("truetype"),
        url("WebFont.svg#webfont") format("svg");
    }
}
h3 {
  font-family: "Caveat", cursive;
margin-bottom: 0;
font-size: 50px;
} 
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
margin: 0;
display: flex 
}

.divider > section {
border-bottom: 1px dashed #304d6d;
padding: 25px 0;
}
.divider > section:last-of-type {
border-bottom: none;
}

/* profile
-------------------------------*/
header {
  background: #0a104d ;
  color: #d9dde0;
  /* max-width: 85%; */
}



/* hobbies
-------------------------------*/
.art {
  background: #20B2AA;
  color: #0a104d;
}
.art-item {
  overflow: hidden;
}

.art-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: stretch;
  align-content: center;
  justify-content: start;
  align-items: baseline;
}

/* painting */
.painting {
background-color: #778899;
color: #16171f;
text-align: center;
padding-bottom: 10px;
margin: 0 auto;

}

.painting-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: stretch;
  align-content: center;
  justify-content: start;
  align-items: baseline;
}
.painting a {
  color: #5e60c2;
}

.crayoncarving-details {
  background-color: #01BAEF;
  color: #16171f;
  text-align: center;
  justify-content: space-evenly;
}
.modelmaking-details {
  background-color:#7FC29B;
  color: #16171f;
  text-align: center;
  margin: 0 auto;
}
.woodcarving-details {
  background-color: #FCA311;
  color: #16171f;
  text-align: center;
}

/* CONTACT INFO
-------------------------------*/
footer {
  background: #2E4057;
  color: #f7fff7;
 
}
.contact-list {
  list-style-type: none;
  padding: 0;
  
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
/* Responsive */
@media screen and (min-width: 750px) {
  header, footer {
        text-align: center;
  }
    h3 {
      font-size: 75px;
    }
  
  }
  .painting-item img {
    float: left;
    margin-right: 20px;
    display: block;
  }
  .painting-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list{
  display: flex;
  justify-content: center;
  
  }
  
  
  img {
    width: 85%;
      /* min-height: 300px; */
     }

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
h1 {
  line-height: 0.9;
}
h2 {
  line-height: 1;
}
.contact-list a {
  padding: 5px;
}
h3 {
  font-size: 75px;
}
}
